:root{
    --font1:'Roboto';
    --font2:sans-serif;
    --color1:rgb(255, 255, 255);
    --color2:rgb(17, 10, 202);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div{
    position: relative;
    width: 100%;
    background:url('./images/backcover.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size:contain;
    height: 100vh;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px 50px 200px;
}
.nav-image{
    order: 1;
}
.nav-items{
    display: flex;
    justify-content:center;
    align-items: center;
    order: 2;
    gap: 30px;
    position: relative;
}
.signin-btn{
    order: 3;
}
.nav-items .nav-item{
    font-family: var(--font2);
    color: var(--color2);
    font-size: 16px;
}
/* nav mobile  */
.hamburger{
    color: var(--color2);
    display: none;
  }
  .hamburger span{
    cursor:pointer;
    font-size: 35px;
  }
  .close-btn{
    display: none;
    cursor:pointer;
    color: var(--color2);
  }


.intro-section{
    display: flex;
}
.left-section{
    width: 40%;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.left-section h1{
    font-size: 4vw;
    font-family: var(--font2);
    color: var(--color2);
}
.left-section h4{
    margin: 100px 0px;
    width:70%;
    font-family: var(--font1);
    color:rgb(85, 83, 83);
    line-height: 30px;
}
button{
    background: none;
    background: linear-gradient(to right, rgb(61, 78, 235), rgb(245, 117, 250));
    outline: none;
    border: none;
    width: fit-content;
    font-weight: bold;
}
.signin-btn{
    width: 100px;
    color:var(--color1);
    height:30px;
    border-radius: 40px;
}
.learn-more-btn{
    width: 250px;
    height: 60px;
    border-radius: 40px;
    color: var(--color1);
    font-size: 20px;
    
    font-family: var(--font1);
    letter-spacing: 2px;
}

.imgs-div{
    width: 60%;
}

@media (max-width:1400px) {
    nav{
        padding: 50px 50px 50px 50px;
    }
    .left-section{
        padding-left: 50px;
    }
    .left-section h4{
        margin: 50px 0px;
        width:70%;
        font-family: var(--font1);
        color:rgb(85, 83, 83);
        line-height: 30px;
    }
}

@media (max-width:1050px){
    nav{
        padding: 20px 10px 50px 10px;
    }
    .nav-image{
        order: 1;
    }
    .nav-items{
        display: flex;
        justify-content:center;
        align-items: center;
        order: 3;
    }
    .signin-btn{
        order: 2;
    }
    .hamburger{
        display: inline-block;
        order: 4;
    }
    nav .nav-items{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgba(240, 234, 234, 0.719);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
    }
    .close-btn{
        display: inline-block;
        position: absolute;
        right: 25px;
        top: 60px;
        /* font-size: 35px; */
    }


    .intro-section{
        display: flex;
        flex-direction: column-reverse;
    }
    .imgs-div{
        width: 100%;
        position: relative;
        top: 0;
    }
    .imgs-div img:nth-child(3){
        width: 100%;
    }
    .left-section{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top:100px;
        padding-bottom: 150px;
    }
    .left-section h1{
        font-size: 30px;
        font-family: var(--font2);
        color: var(--color2);
    }
    .left-section h4{
        margin: 25px 0px;
        width:70%;
        font-family: var(--font1);
        color:rgb(85, 83, 83);
        line-height: 30px;
    }
}